<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[LOG4J2-OVERWRITTEN][%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>

        <RollingFile  name="ROLLING_FILE" fileName="${sys:catalina.base}/logs/log4joverrwritten.log" filePattern="${sys:catalina.base}/logs/log4joverrwritten-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="[%d] [%X{uuid}] %5p [%t] (%F:%L) - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB"/>
            </Policies>
            <DefaultRolloverStrategy />
        </RollingFile >
        <Servlet name="Servlet">
            <PatternLayout pattern="%m%n%ex{none}"/>
        </Servlet>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="Servlet" />
            <AppenderRef ref="console" />
            <AppenderRef ref="ROLLING_FILE" />
        </Root>
    </Loggers>
</Configuration>